name: test-1-slack-notification-with-optional-parameters

on: [push]

jobs:
  slack-action:
    #if: ${{ false }}
    runs-on: ubuntu-20.04
    name: Test 1 [ubuntu-20.04]

    steps:
      - name: Send Slack Message
        uses: archive/github-actions-slack@master
        id: send-message
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C02HEBQP46T
          slack-text: "Test 1 - :fire:"
          slack-optional-icon_emoji: ":fire:"

      - name: Result from "Send Slack Message"
        run: echo '${{ steps.send-message.outputs.slack-result }}'
