name: test-3-slack-reaction

on: [push]

jobs:
  slack-action:
    #if: ${{ false }}
    runs-on: ubuntu-latest
    name: Test 3 [ubuntu-latest]

    steps:
      - name: Send Slack Message
        uses: archive/github-actions-slack@master
        id: send-message

        with:
          slack-function: send-message
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C036E7FSXBR
          slack-text: Test 3 - Message to send a react to

      - name: Send Slack Message Result
        run: echo 'Data - ${{ steps.send-message.outputs.slack-result }}'

      - name: Some step in between
        run: echo '...'

      - name: Send Slack Reaction To Message
        uses: archive/github-actions-slack@master
        with:
          slack-function: send-reaction
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: ${{ fromJson(steps.send-message.outputs.slack-result).response.channel }}
          slack-emoji-name: thumbsup
          slack-message-timestamp: ${{ fromJson(steps.send-message.outputs.slack-result).response.message.ts }}

      - name: Send Slack Reaction To Message Result
        run: echo 'Data - ${{ steps.send-message.outputs.slack-result }}'
