name: slack-notification-with-optional-parameters

on: [push, issues]

jobs:
  slack-notification-with-optional-parameters:
    runs-on: ubuntu-20.04
    name: Sends a message to Slack on push and issue

    steps:
      - name: Send Slack Message
        uses: archive/github-actions-slack@master
        id: send-message
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: CPPUV5KU0
          slack-text: Hello! Something is burning! Or not... from slack-notification-with-optional-parameters
          slack-optional-icon_emoji: ":fire:"
          slack-optional-as_user: false

      - name: Result from "Send Slack Message"
        run: echo "${{ steps.send-message.outputs.slack-result }}"
